# ── Environnement ────────────────────────────────────────────────────────────
NEXT_PUBLIC_APP_ENV=prod
NEXT_PUBLIC_APP_URL=https://cdv-app.fr

# ── Firebase client (public) ─────────────────────────────────────────────────
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cdv-app-prod.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cdv-app-prod
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cdv-app-prod.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# ── Firebase Admin (server-side uniquement — ne jamais exposer) ───────────────
FIREBASE_SERVICE_ACCOUNT_KEY=
