# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
dist/
build/
lib/
!apps/web/src/lib/
!apps/web/src/lib/**
!apps/mobile/src/lib/
!apps/mobile/src/lib/**
*.tsbuildinfo

# Env files
.env
.env.dev
.env.beta
.env.prod
.env.local
.env.*.local

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Misc
.DS_Store
*.pem
.turbo/
coverage/
.vercel
